/* General Styles */
body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
  display: flex;
}

/* Navbar */
.nav-bar {
  background: white;
  padding: 5px 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  color: rgb(59, 12, 65);
  font-size: 25px;
  width: 100px;
  height: 40px;
}

nav a {
  margin-left: 2px;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  border: 2px solid grey;
  margin-left: 15px;
  text-decoration: none;
  color: #9e3ca2;
  padding: 8px 12px;
  border-radius: 5px;
}

.btn-primary {
  background: white;
  border-color: #51ae52;
  color: #000000;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-left: 50px;
}

.btn-secondary {
  background: #9e3ca2;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-left: 40px;
  border-color: #9e3ca2;
}

/* Hero Section */
.landing-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}

.hero-text {
  font-size: 50px;
  text-align: left;
  color: #51ae52;
  margin-left: 100px;
}

.highlight {
  font-size: 60px;
  color: #9e3ca2;
  font-weight: bold;
  text-align: left;

}

.buttons {
  margin-top: 0px;
  margin-right: 235px;
  margin-bottom: 5px;
}

.post-project,
.join-vendor {
  height: 55px;
  width: 200px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.post-project {
  color: #9e3ca2;
  background-color: white;
}

.join-vendor {
  color: white;
  background: #9e3ca2;
  margin-right: 100px;
}

.search-box {
  width: 100%;
  max-width: 400px;
  height: 35px;
  padding: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 3px solid #ccc;
  border-radius: 30px;
  margin-top: 10px;
}

.search-box2 {
  width: 100%;
  width: 600px;
  height: 25px;
  padding: 15px;
  margin-bottom: 10px;
  border: 3px solid #ccc;
  border-radius: 30px;
  margin-top: 40px;
  margin-right: 105px;
  background-color: #ffffff;
}

.page-buttons {
  margin-left: 550px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.previous-page-button {
  width: 2px;
  height: 2px;
  font-size: 1px;
  border-radius: 30px;
  background-color: #9e3ca2;
}

.next-page-button {
  width: 2px;
  height: 2px;
  font-size: 1px;
  border-radius: 30px;
  background-color: #9e3ca2;
}


.hero-image {
  height: 500px;
  width: 550px;
  margin-top: 10px;
  margin-right: 70px;
  border-radius: 25px;
}

/* TopDealsPage */

.deal-container {
  background-color: white;

}

.d-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 70px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 70px;
}

.explore-btn {
  display: flex;
  align-items: center;
  background: white;
  color: #9e3ca2;
  padding: 10px 20px;
  margin-right: 70px;
  border: 2px solid #9e3ca2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.explore-btn:hover {
  background-color: #9e3ca2;
  color: white;
}

.deal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.deal-card {
  width: 400px;
  height: 300px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  margin-bottom: 20px;
}

.deal-card:hover {
  transform: scale(1.02);
}

.deal-header {
  background: #f0f0f0;
  padding: 25px;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
}

.deal-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deal-discount {
  font-size: 40px;
  font-weight: bold;
}

.off-text {
  font-size: 18px;
  font-weight: normal;
}

.deal-category {
  text-align: right;
  font-size: 14px;
  color: #666;
}

.deal-category-bold {
  font-weight: bold;
}

.deal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.offer-end {
  font-size: 14px;
  color: #666;
}

.deal-body hr {
  width: 100%;
  border: 1px solid #ccc;
  /* margin: 10px 0; */
}

.view-deal {
  background: #2e133b;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Top-Vendors CSS */

/* Container */
.vendor-container {
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

}

.vendor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.vendor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Vendor Card */
.vendor-card {
  background: whitesmoke;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 350px;
}

.vendor-card:hover {
  transform: scale(1.02);
}

/* Vendor Logo */
.vendor-logo img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  align-items: center;
  margin-bottom: 165px;
}

/* Vendor Info */
.vendor-info {
  flex: 1;
  text-align: left;
}

.vendor-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.vendor-category {
  font-size: 14px;
  color: #888;
  margin-bottom: 25px;
}

/* Projects & Rating */
.vendor-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
}

.vendor-rating {
  color: #27ae60;
  font-size: 16px;
}

/* Description */
.vendor-description {
  font-size: 13px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Button */
.vendor-profile-btn {
  padding: 8px 14px;
  background-color: #9ca4ae;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  transition: background 0.2s;
  margin-left: 150px;
}

.vendor-profile-btn:hover {
  background-color: #56054e;
  color: white;
}

/* Top Customers */

.customer-container {
  background-color: #ffffff;
  margin-bottom: 35px;
}

.customer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}


.customer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-content: center;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.customer-card {
  width: 400px;
  height: 300px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.customer-card:hover {
  transform: scale(1.02);
}

.customer-header {
  background: #f0f0f0;
  padding: 25px;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
}

.customer-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.customer-logo {
  width: 75px;
  height: 75px;
  border-radius: 35px;
  object-fit: cover;
  align-items: center;
  margin-left: 10px;
}

.industry {
  text-align: left;
}

.projects-count {
  text-align: right;
}

.view-details {
  background: #4c4c4d;
  color: rgb(255, 255, 255);
  margin-left: 250px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.view-details:hover {
  background-color: #56054e;
  color: white;
}


/* Top Technologies CSS */

/* Container */
.container3 {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}

/* Header */
.header3 h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 50px;
}

.header3 p {
  color: gray;
  font-size: 16px;
  text-align: left;
  margin-left: 50px;
}

/* Grid Layout */
.grid3 {
  display: grid;
  margin: 100px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  margin-top: 30px;
}

/* Card */
.card3 {
  display: flex;
  background: white;
  width: 375px;
  height: 135px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.card3:hover {
  transform: translateY(-5px);
}

/* Card Image */
.card-img3 {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 15px;
}

/* Card Content */
.card-content3 {
  text-align: left;
}

.card-title3 {
  font-size: 18px;
  font-weight: bold;
}

.card-subtitle3 {
  font-size: 14px;
  color: gray;
}

.card-description3 {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}

/* Partners CSS */
.partner-container {
  text-align: center;
  margin: 0px 35px;
  margin-bottom: 20px;
}

.text {
  font-size: 32px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 70px;
}

.subtext {
  font-size: 16px;
  color: #7d6e6e;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 70px;
}

.grid4 {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card4 {
  width: 200px;
  height: 110px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card4:hover {
  transform: translateY(-5px);
}

.logo4 {
  width: 200px;
  height: 110px;
  border-radius: 12px;
}

/* Testimonial  CSS */
.container5 {
  text-align: center;
  padding: 50px 30px;
  position: relative;
}

.header-container5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}

.heading5 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtext5 {
  font-size: 16px;
  color: #7d6e6e;
  margin-bottom: 30px;
}

.carousel5 {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card5 {
  width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.card5:hover {
  transform: translateY(-5px);
}

.header5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.stars5 {
  color: gold;
  font-size: 18px;
}

.name5 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.role5 {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.text5 {
  font-size: 14px;
  line-height: 1.5;
}

.buttons5 {
  display: flex;
  gap: 1px;
}

.button5 {
  background-color: rgb(41, 5, 40);
  width: 70px;
  height: 70px;
  color: white;
  border: none;
  margin-right: 50px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
}

.button5:hover {
  background-color: #444;
}


/* Blog CSS */

.blog-container {
  padding: 20px 30px;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-card {
  width: 440px;
  background: white;
  border-radius: 18px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background 0.2s;
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 15px;
}

.blog-category {
  font-size: 14px;
  color: purple;
  font-weight: bold;
  text-align: left;
}

.blog-heading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}

.blog-link {
  text-decoration: none;
  color: black;
}

.blog-description {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
  text-align: left;
}

.blog-date {
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  text-align: left;
}

.blog-date span {
  color: #888;
}

/* Key Matrics CSS */

.metrics-container {
  padding: 50px 20px;
  text-align: center;
}

.metrics-title {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
}

.metrics-subtext {
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
  margin-left: 30px;
  text-align: left;
}

.metrics-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.metric-card {
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.metric-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metric-icon {
  font-size: 24px;
  background: #eee;
  padding: 5px;
  border-radius: 50%;
}

.metric-value {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.change {
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 5px;
}

.positive {
  color: green;
  background: #e6ffec;
}

.negative {
  color: red;
  background: #ffe6e6;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: #eee;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #3498db;
}

/* Footer CSS */

.footer {
  background: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 20px;
}

.footer-left {
  max-width: 250px;
  margin-left: 15px;
}

.footer-logo {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  width: 100px;
  height: 50px;
}

.footer-text {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
  text-align: left;
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
  text-align: left;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-column h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-column li {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
  text-align: left;
}

.footer-right {
  max-width: 250px;
}

.footer-right h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.footer-right p {
  font-size: 18px;
  color: #666;
  text-align: left;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.footer-bottom a {
  color: blue;
  text-decoration: none;
}


/* Deals Table CSS */

.table-container {
  margin: 10px 40px;
  padding: 5px;
  background-color: 0px #1b2fe4;
  overflow-x: auto;

}

.deals-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.deals-table thead {
  background-color: rgb(196, 27, 211);
}

.deals-table thead th {
  padding: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.deals-table tbody tr {
  background-color: rgb(196, 27, 211);
  transition: background-color 0.3s ease;
}

.deals-table tbody tr:hover {
  background-color: #e9eaf1;
  color: black;
  cursor: pointer;
}

.deals-table tbody td {
  padding: 14px 16px;
  border-top: 1px solid #d6e0d3;
}

/* Vendors Table CSS */
.table-wrapper {
  background-color: #f2f7f1;
  padding: 20px 40px;
  font-family: 'Segoe UI', sans-serif;
}

.vendors-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.vendors-table thead {
  background-color: #e8e1ea;
}

.vendors-table th,
.vendors-table td {
  padding: 16px 20px;
  text-align: left;
}

.vendors-table tbody tr:nth-child(even) {
  background-color: #f0eaf4;
}

.vendors-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.vendors-table tbody tr:hover {
  background-color: #9933a2;
  color: white;
  cursor: pointer;
}

/* CustomersProjects CSS */

.section-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
  gap: 40px;
  background-color: #f4f7f2;
}

.customers,
.projects {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-purple {
  color: #9933a2;
  background-color: white;
  padding: 6px 16px;
  border-radius: 4px solid #9933a2;
  font-size: 14px;
  cursor: pointer;
}

.btn-purple:hover {
  opacity: 0.9;
  background-color: #9933a2;
  color: white;
}

.desc {
  font-size: 14px;
  color: #666;
  margin: 10px 0 20px;
  line-height: 1.4;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.customers-table th,
.customers-table td,
.projects-table th,
.projects-table td {
  padding: 12px 16px;
  text-align: left;
}

.customers-table thead {
  background-color: #b942b0;
  color: white;
}

.customers-table tbody tr:nth-child(even) {
  background-color: #9933a2;
  color: white;
}

.customers-table tbody tr:nth-child(odd) {
  background-color: #b942b0;
  color: white;
}


.customers-table tbody tr:hover {
  color: #9933a2;
  background-color: white;
  cursor: pointer;
}

.projects-table thead {
  background-color: #eae7ec;
}


.projects-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.projects-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.projects-table tbody tr:hover {
  background-color: #9933a2;
  color: white;
  cursor: pointer;
}